{% extends "user/master.twig" %}

{% block content %}
    <form action='/login' method="POST" class='login form-horizontal'>
        <div class='control-group'>
            <label class="control-label">
                Email
            </label>

            <div class='controls'>
                <input id="data_name" type='email' name="data[email]" value='' required></input>
            </div>
        </div>
        <div class='control-group'>
            <label class="control-label">
                Password
            </label>

            <div class='controls'>
                <input id="data_password" type='password' name="data[password]" value=''></input>
            </div>
        </div>
        <div class='buttons'>
            <div>
                <button type="submit" class="btn btn-success">Login</button>
            </div>
        </div>
    </form>
{% endblock %}