{% extends "user/master.twig" %}

{% block content %}
    <form action='/user/register' method="POST" class='login form-horizontal'>
        <div class='control-group'>
            <label class="control-label">
                User Name
            </label>

            <div class='controls'>
                <input id="data_name" type='text' name="data[model][username]" value='' required/>
            </div>
        </div>
        <div class='control-group'>
            <label class="control-label">
                Email
            </label>

            <div class='controls'>
                <input id="data_name" type='email' name="data[model][email]" value='' required/>
            </div>
        </div>
        <div class='control-group'>
            <label class="control-label">
                Location
            </label>

            <div class='controls'>
                <select id="data_fb_location_id" name="data[model][fb_location_id]">
                    {% for option in locations %}
                        <option value="{{ option['id'] }}">{{ option['location'] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class='control-group'>
            <label class="control-label">
                Password
            </label>

            <div class='controls'>
                <input id="data_password" type='password' name="data[model][password]" value=''/>
            </div>
        </div>
        <div class='buttons'>
            <div>
                <input type="submit" value="Register" class="btn register"/>
            </div>
        </div>
    </form>
{% endblock %}