<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>Your App Name</title>
    {% endblock %}
    {% block header_meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    {% block header_css %}
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/assets/frontend/css/main.css" rel="stylesheet" media="screen">
    {% endblock %}
    {% block header_js %}
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    {% endblock %}
</head>
<body>
{% block header %}
    <header>
        <h1>
            Your App Name!
        </h1>
    </header>
{% endblock %}
<div id="messages">
    {% for message in messages %}
        <div class="alert alert-{{ message.mt }}">
            {{ message.content }}
        </div>
    {% endfor %}
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<footer id="footer">
    {% block footer %}
    {% endblock %}
</footer>
</body>
{% block footer_css %}
{% endblock %}
{% block footer_js %}
{% endblock %}
</html>