{% extends "user/master.twig" %}

{% block content %}
    <form action='/user/register' method="POST" class='login form-horizontal'>
        <div class='control-group'>
            <label class="control-label">
                User Name
            </label>

            <div class='controls'>
                <input id="data_name" type='text' name="data[model][username]"
                       value='{% if data.model.username is defined %}{{ data.model.username  }}{% endif %}'
                       required />
            </div>
        </div>
        <div class='control-group'>
            <label class="control-label">
                Email
            </label>

            <div class='controls'>
                <input id="data_name" type='email' name="data[model][email]"
                       value='{% if data.model.email is defined %}{{ data.model.email  }}{% endif %}'
                       required />
            </div>
        </div>
        <div class='control-group'>
            <label class="control-label">
                Password
            </label>

            <div class='controls'>
                <input id="data_password" type='password' name="data[model][password]" value='' />
            </div>
        </div>
        <div class='buttons'>
            <div>
                <input type="submit" value="Register" class="btn register" />
            </div>
        </div>
    </form>
{% endblock %}